.board{
    background: #181A1E;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
}
.map__instruments{
    height: 100%;
    width: 50px;
    background: #101214;
}
.closer{
    width: 100%;
    height: 20px;
}
.path{
    width: 14.57px;
    height: 7.85px;
}