@font-face {
  font-family: "Onest Bold";
  src: url(../fonts/OnestBold.ttf);
}

@font-face {
  font-family: "Onest Extra Bold";
  src: url(../fonts/OnestExtraBold.ttf);
}

@font-face {
  font-family: "Onest Regular";
  src: url(../fonts/OnestRegular.ttf);
}