@import "./styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
}

body {
  background: #22262f;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

